<!DOCTYPE html>
<html>
	<head>
		<title>Happy Thoughts</title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/welcome.scss">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/reset.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	
							  <!-- Primary Page Layout
					  –––––––––––––––––––––––––––––––––––––––––––––––––– -->



					  <div class="container">
					    
					      <div id="home" class="row">     

					           <div class="twelve columns">
					              <img src="images/HP_Logo.svg">
					              <h6>Welcome to Happy Thoughts</h6>
					              <p>A daily journal of your happy moments.<p>

					              <button id="primary">Sign Up </button>
					              <button  >Log in</button>
					          </div>  

					     </div>
					 </div>

					<!-- End Document
					  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
</html>