<!DOCTYPE html>
<html>
	<head>
		<title>Happy Thoughts</title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/welcome.scss">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/reset.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		  <div class="container">
		      <div id="home" class="row">     
		           <div class="twelve columns">
		              <img src="images/cloud.svg">
		              <h5 >Welcome to Happy Thoughts</h5>
		              <p>A daily journal to keep you motivated.</p>

		       		<div class="four columns" id="invisible">s</div>
		            <div id="front_links" class="four columns">
			             <a id="f_link_1" href="/users/sign-up" >
			              	 <button id="primary">Sign Up </button>
			             </a>

			             <a id="f_link_2" href="/users/login" > 
			              	<button>Log in</button>
			             </a>
		            </div>
		          </div>  


			    <div id="info" class="twelve columns">

			         <div id="explanation" class="twelve columns">


					        <div id="what" class="six columns">
				        		<h3> What is this all about ? </h3>
					        </div>


						    <div id="what_p" class="six columns">
						    			
								    		We can't control what happens in a day, but you can control whether it is a bad or good day.
								    		<br>	<br>

									    	The human mind can go from positive to negative easily, but going from negative to positive is a lot harder!
											<br>	<br>

									    	Happy Thoughts helps you break that negative hold and reminds you that there is a ray of sunlight during a cloudy day!
											<br>	<br>
									    	Please watch the video below, "Getting stuck in the negatives (and how to get unstuck)" by Alison Ledgerwood. This video explains the value of Happy Thoughts and where it came from
									    	<br>	<br>
							</div>
			  	 	 </div>

			    	
					 <div id="explanation" class="twelve columns">
		      				
		      				<div id="what" class="six columns">
				        		<h3> How this works ? </h3>
					        </div>

						    <div id="what_p" class="six columns">
						    			
								    	<ol>
								    		<li>Post at least 3 things that is positive or makes you happy during that day!</li>
								    		<li>Come back and remind yourself of those good things anytime!</li>
								    		<li>Check out what others are writing and get inspired!</li>
								    	</ol>
								  
							</div>
					</div>
			  
		     </div>





		 </div>
	</body>
</html>