<!DOCTYPE html>
<html>
	<head>
		<title>Happy Thoughts</title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/welcome.scss">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/reset.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="section1">
			<h1>Happy Thoughts</h1>
			<p>a daily journal to keep you happy</p>
			<div id="centerButtons">
				<button id="signup">SIGN UP</button> <br />
				<button id="login">LOG IN</button>
			</div>
		</div>
		<div id="section2">
			<h1>Happy thoughts is designed to keep track and remind you that you're day isn't as bad as you think it is. This idea came from Alison Ledgerwood's Ted Talk on "Getting Stuck in the Negative (and How to Get Unstuck)</h1>
			<video controls width="320" height="240" controls><source src="/videos/vid001.mp4" type="video/mp4"></video>
		</div>
	</body>
</html>