<!DOCTYPE html>
<html>
	<head>
		<title>Happy Thoughts</title>
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/welcome.scss">
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/reset.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		  <div class="container">
		      <div id="home" class="row">     
		           <div class="twelve columns">
		              <img src="images/cloud.svg">
		              <h5 class="six columns">Welcome to Happy Thoughts</h5>
		              <p>A daily journal to keep you motivated.<p>

		              <a href="/users/sign-up"><button id="primary">Sign Up </button></a>
		              <a href="/users/login"> <button>Log in</button></a>
		          </div>  
		     </div>


		    <div di="explanation" class="twelve columns">
		    		

				


		    </div>
		 </div>
	</body>
</html>