@import "https://fonts.googleapis.com/css?family=Sacramento";
@import "https://fonts.googleapis.com/css?family=Italianno";
@import "https://fonts.googleapis.com/css?family=Raleway:200";


div #happy_post{
   box-shadow: 0px 1px 100px #f4f4f4;
      border-top: 1px solid #f4f4f4;
      margin-bottom: 20px;
}

div #time{
   margin-top: 20px;
        margin-left: 20px;
        color: #ccc;
        letter-spacing: 2px;
        font-weight: 100;
        font-size: 9pt;
        float: left; 
}

div #happy_post p{
 padding: 10px 30px;
        font-size: 11pt;
        margin-top: 10px;
        letter-spacing: 1px;
        text-align: left;
        clear: left; 
}


button {
  width: 120px;
  height: 40px; }



#info{
   /*background: #ccc;*/
   margin-top: 100px;
}

#front_links{
  /*background: #ccc;*/
}


#f_link_1{
    margin-left: 15%;
}

#f_link_2{
  float: left;
  margin-left: 15%;
}



#explanation{
  
  /*background: #f4f4f4;*/
  border-top: 1px solid #ffdb00;
  padding: 10% 0px;
  margin: 2% 0px;
}



#p_welcome{
  font-size: 11pt;
  font-family: helvetica;
  text-align: center;
}


#what{
  float: left;
  color: #4f4f4f;
}

#what_p{
  float: right;
 color: #4f4f4f;
}


a #logo {
  width: 170px;
  /*background: #ccc;*/
  padding: 0px;
  margin: 0px;
}


#saved{

  background-color: #ffdb00;
  color: #fff;
  padding: 5px 0px;
  border-radius: 3px;
  }

#buttons_q{ 
  margin-top: 20px;
  float: right;
}


#quote_generator{
float: right;
margin-right: 20px;
border: 1px solid #ccc;
text-decoration: none;
border-radius: 3px;
padding: 2.5px 0px;
}


a{
  color: #ccc;
  text-decoration: none;
  padding-left: 20px;
  padding-right:20px;
}


a:hover{
  color: #ffdb00;
}


#saving_quote{
float: right;
color: #ccc;
border: 1px solid #ccc;
border-radius: 3px;
padding: 2.5px 0px;
}

#invisible {
  color: #fff; }

#post_div {
  margin-top: 100px; }

i {
  font-size: 14px;
  font-weight: 900;
  color: #ccc; }

.container {
  /*border: $border;*/ }

/*Yield template */
nav {
  box-shadow: 0px 1px 100px #f4f4f4;
  border: 1px solid #f4f4f4;
  height: 55px; }
  nav #logo {
    text-align: center;
    margin-left: 5%;
    position: absolute;
    z-index: 2; }
    nav #logo span {
      font-family: 'Sacramento', cursive;
      font-size: 30px;
      margin: 0px;
      color: #ffdb00; }
    nav #logo #black {
      color: #4f4f4f; }


    ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

/* Float the list items side by side */
ul.topnav li {float: right;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #4f4f4f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #ccc;
                      color: #fff;  }

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
ul.topnav li.iconX {display: none;}


@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;
         z-index: 2;
     background-color:#ffdb00 ;
     height: 700px;
     padding-top: 100px;


  }
  ul.topnav.responsive li.icon {
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }


  ul.topnav.responsive li.iconX {
    color: #4f4f4f;
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}





#personal {
  height: 50px;
  border-bottom: 1px solid #ffdb00; }
  #personal #menu {
    width: 20%;
    float: left;
    background-color: #ffdb00;
    height: 50px;
    text-align: center; }
    #personal #menu img {
      width: 25px;
      margin-top: 10px; }
  #personal #title {
    width: 60%;
    float: left;
    /*color: #fff;*/
    margin-top: 10px;
    /*background-color: #fff;*/
    height: 50px;
    text-align: center;
    border: none; }
  #personal #post {
    width: 20%;
    float: left;
    height: 50px; }
    #personal #post img {
      margin-left: 20px;
      margin-top: 5px;
      width: 30px; }

#home {
  height: 570px;
  /*///////////////*/ }
  #home #r_quote {
    margin-top: 20px;
    /*background-color: pink;*/
    float: left; }
    #home #r_quote a {
      margin: 0px; }
  #home img {
    margin-top: 70px;
    margin-left: 40%;
    width: 25%; }
  #home h5 {
    font-size: 13pt;
    margin-top: 60px;
    text-align: center; }
  #home p {
    font-size: 12pt;
    text-align: center; }
  #home #primary {
    margin-top: 20px;
    background-color: #ffdb00;
    border: white;
    color: white; }
  #home #quote {
    border-radius: 5px;
    margin-top: 50px;
    height: 250px;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px; }
    #home #quote #close {
      float: right;
      margin-right: 10px;
      color: #ccc; }
    #home #quote #star {
      width: 20px;
      margin: 0px;
      float: right;
      margin-right: 10px;
      margin-top: 10px; }
    #home #quote #comilla_1 {
      font-size: 50pt;
      float: left;
      font-family: Times;
      color: #ccc; }
    #home #quote #comilla_2 {
      font-size: 50pt;
      float: right;
      font-family: Times;
      color: #ccc; }
    #home #quote h5 {
      font-family: Garamond;
      letter-spacing: 1px;
      color: #4f4f4f;
      text-align: center;
      font-size: 15pt;
      color: #4f4f4f;
      /*border: $border;	*/ }
    #home #quote h6 {
      font-size: 15pt;
      /*text-transform: uppercase;*/
      margin-top: 30px;
      float: right;
      margin-right: 100px;
      letter-spacing: 1px;
      color: #ccc;
      /*font-family: 'Italianno', cursive;*/
      /*font-family: Garamond;*/
      /*border: 1px solid #ccc;*/ }
  #home #post_container {
    /*background: #ccc;*/
    margin-top: 50px;
    padding-top: 100px;
  /*  border-top: 1px solid #ccc;*/ }
    #home #post_container #tho {
      margin: 0px;
      padding: 0px; }
      #home #post_container #tho nav {
        background-color: white;
        border-bottom: 1px solid #ffdb00; }
        #home #post_container #tho nav #words {
          font-size: 13px;
          letter-spacing: 1px;
          margin-left: 160px;
          color: #ccc;
          font-weight: 100; }
        #home #post_container #tho nav #close {
          font-size: 25px;
          font-weight: 100;
          color: #4f4f4f; }
        #home #post_container #tho nav #happy_b {
          background-color: #ffed7f;
          border: none;
          color: #fff;
          width: 60px;
          padding-left: 10px;
          float: right;
          margin-top: 5px; }
      #home #post_container #tho textarea {
        border: none;
        border-top: 1px solid #ffdb00;
        box-shadow: 0px 1px 100px #f4f4f4;
        height: 120px;
        letter-spacing: 2px;
        padding: 20px;
        font-size: 11pt; }
      #home #post_container #tho #pic {
        margin-top: 10px;
        width: 50px;
        padding: 0px; }
        #home #post_container #tho #pic img {
          width: 25px;
          margin: 0px;
          margin-top: 5px;
          padding: 0px; }
    #home #post_container #happy_post {
      box-shadow: 0px 1px 100px #f4f4f4;
      border-top: 1px solid #f4f4f4;
      margin-bottom: 20px; }
      #home #post_container #happy_post a {
        color: black;
        text-decoration: none; }
      #home #post_container #happy_post #close {
        float: right;
        margin-right: 10px; }
      #home #post_container #happy_post p {
        padding: 10px 30px;
        font-size: 11pt;
        margin-top: 10px;
        letter-spacing: 1px;
        text-align: left;
        clear: left; }
      #home #post_container #happy_post #time {
        margin-top: 20px;
        margin-left: 20px;
        /*background:#ccc;*/
        color: #ccc;
        letter-spacing: 2px;
        /*font-family: helvetica;*/
        font-weight: 100;
        font-size: 9pt;
        float: left; }
      #home #post_container #happy_post #name {
        /*border: 1px solid grey;*/
        margin-top: 20px;
        float: left;
        margin-left: 8px;
        color: #ccc;
        letter-spacing: 2px;
        /*font-family: helvetica;*/
        font-weight: 100;
        font-size: 9pt; }
  #home #menu {
    margin-top: 305px;
    border: 1px solid #ccc; }
    #home #menu li {
      padding-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid #ffdb00;
      /*border-bottom: 1px solid $yellow;*/
      padding-left: 20px; }

#form_container {
  /*background-color: $yellow;*/ }
  #form_container h4 {
    font-size: 20px;
    margin-top: 50px;
    text-align: center; }
  #form_container input {
    /*font-size: 11px;*/
    display: inline;
    margin-bottom: 30px; }
  #form_container #form-inputs {
    margin-top: 50px; }

/*video formatting*/
.videoWrapper {
  padding-top: 25px;
}
.videoWrapper video {
 /* position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
