$yellow: #ffdb00;
$lightyellow:#ffed7f;
$lightblack: #4f4f4f;
$grey:#ccc;
$border: 1px solid #ccc;
@import 'https://fonts.googleapis.com/css?family=Sacramento';


#invisible{
	color: #fff;
}

#post_div{
	margin-top: 100px;
}


i{
	font-size: 14px;
	font-weight: 900;
	color: $grey
}

.container{
	/*border: $border;*/
}


/*Yield template */
nav{

	box-shadow: 0px 1px 100px #f4f4f4;
	border: 1px solid #f4f4f4;
	height: 55px;


	#logo{
		text-align: center;
		margin-left: 45%;
	}

	span{
		font-family: 'Sacramento', cursive;
		font-size: 30px;
		margin: 0px;
		color: $yellow;
	}

	#black{
		color: $lightblack;
}

	ul{
		float: right;
		margin: 0px;
	}

	li{
		
		list-style-type: none;
		float: left;
		margin-right: 15px;
		margin-top: 15px;
	}

	a{
		font-weight: 600;
		color: $lightblack;	
		letter-spacing: 1px;
		text-decoration: none;
	}

	a:hover{
		text-decoration: underline;
		/*color: #ccc;*/
	}
}



#personal{
	height: 50px;
	border-bottom: 1px solid $yellow;
	#menu{

	width: 20%;
	float: left;
	background-color: $yellow;
	height: 50px;
	text-align: center;

		img{
			width:25px;
			margin-top: 10px;
		}

	}	

	#title{
	width: 60%;
	float: left;
	/*color: #fff;*/
	margin-top: 10px;
	/*background-color: #fff;*/
	height: 50px;
	text-align: center;
	border: none
	}

	#post{
		width: 20%;
		float: left;
		height: 50px;
			
		img{
			margin-left:20px;
			margin-top: 5px;
			width:30px;
		}	
	}
}


#home{
	height: 570px;

	#r_quote{
			margin-top: 20px;
			/*background-color: pink;*/
			float: left;

			a{
				margin: 0px;
			}
		}

	img{
	margin-top:70px;
	margin-left:40%;
	width: 25%;
	}

	h5{
	font-size: 13pt;
	margin-top: 60px;
	text-align: center;
	}

	p{
	font-size: 12pt;
	text-align: center;
	}

	#primary{
		margin-top: 20px;
		background-color: $yellow;
		border: white;
		color: white;
	}

	#quote{
		border-radius: 5px;
		margin-top: 50px;
		height: 250px;
		border: 1px solid #ccc;
		padding: 10px 10px;


		#close{
				float: right;
				margin-right: 10px;
				color: $grey;
		}

		#star{
			width: 20px;
			margin:0px;
			float: right;
			margin-right: 10px;
			margin-top: 10px;
		}

		#star:hover{
			color: $yellow;
		}


	
		h5{
			color: $lightblack;
			text-align: center;
			font-size: 12pt;

		}

		h6{
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 800;
			margin-top: 30px;
			/*border: 1px solid #ccc;*/
		}	

	}






	#tho{

		nav{

			background-color: white;
			border-bottom: 1px solid $yellow;

			#words{
				font-size: 13px;
				letter-spacing: 1px;
				margin-left: 160px;
				color: $grey;
				font-weight: 100;
			}

			#close{
				font-size: 25px;
				font-weight: 100;
				color: $lightblack;
			}

			#happy_b{

				background-color: $lightyellow;
				border: none;
				color: #fff;
				width: 60px;
				padding-left: 10px;
				float: right;
				margin-top: 5px;
			}
			
		}


		textarea{
			margin-top: 0px;
			height: 150px;
			border-top: 1px solid $yellow;
		}

		#pic{
			margin-top: 10px;
			width: 50px;
			padding: 0px;

		 	img{
		 		width: 25px;
		 		margin: 0px;
		 		margin-top: 5px;
		 		padding: 0px;
		 	}
		}

	}


	#happy_post{

		border: 1px solid $yellow;
		margin-top: 20px;
		border-radius: 5px;


		a{
			color: black;
			text-decoration: none;
		}

		#close{
			float: right;
			margin-right: 10px;
		}

		p{
			padding: 10px 10px;
			font-size: 12pt;
			margin-top: 10px;
		}

		#date{
			float: right;
			margin-right: 30px;
		}
	}


	#menu{
		
		margin-top: 305px;
		border: $border;
		
		li{
			padding-top: 20px;
			margin-bottom: 20px;
			border-top: 1px solid $yellow;
			/*border-bottom: 1px solid $yellow;*/
			padding-left: 20px;
		}
	}
}



#form_container{

	/*background-color: $yellow;*/

	h4{
		font-size: 20px;
		margin-top: 50px;
		text-align: center;
	}

	input{
		/*font-size: 11px;*/
		display: inline;
		margin-bottom: 30px;
	}

	#form-inputs{
		margin-top: 50px;

	}

}



